:root {
    --rotating-pic-width: 190px;
    --rotating-pic-height: 190px;
  }

.content-rotate-left {
    width: var(--rotating-pic-width);
    height: var(--rotating-pic-height);
    border-radius: 50%;
    /* margin: 100px; */
    /* con el linear se ejecuta de forma continua sin paradas */
    animation: rotationLeft 10s infinite linear;
    box-shadow: -5px -5px 10px rgb(151, 149, 149);
    /* horizontal vertical difuminado */
    transition: all 0.3s;
}


.content-rotate-right {
    width: var(--rotating-pic-width);
    height: var(--rotating-pic-height);
    /* width: 190px;
    height: 190px; */
    border-radius: 50%;
    /* margin: 100px; */
    /* con el linear se ejecuta de forma continua sin paradas */
    animation: rotationRight 10s infinite linear;
    box-shadow: -5px -5px 10px rgb(151, 149, 149);
    /* horizontal vertical difuminado */
    transition: all 0.3s;
}

.sombra3d {
    position: absolute;
    width: var(--rotating-pic-width);
    height: var(--rotating-pic-height);
    /* width: 190px;
    height: 190px; */
    opacity: .4;
    background-repeat: no-repeat;
    background-size: var(--rotating-pic-width) var(--rotating-pic-width);
    /* background-size: 190px 190px; */
}

.content-rotate-right:hover {
    box-shadow: 0px 0px 15px 5px rgb(214, 210, 205);
    /* horizontal vertical difuminado */
}

.content-rotate-left:hover {
    box-shadow: 0px 0px 15px 5px rgb(214, 210, 205);
    /* horizontal vertical difuminado */
}

.sombra3d:hover {
    opacity: .6;
}



.sombra3d:hover {
    opacity: .6;
}

@keyframes rotationLeft {
    0% {
        background-position: 0px 0px;
        /*arriva izq*/
    }
    100% {
        background-position: -274px 0px;
    }
}

@keyframes rotationRight {
    0% {
        background-position: 0px 0px;
        /*arriva izq*/
    }
    100% {
        background-position: +274px 0px;
    }
}