.App {
  text-align: center;
}

body {
  background-color: rgb(205, 205, 199);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-books {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
}

.home-book-card {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-book-card li {
  margin: 1em;
}

.Allpage {
  display: flex;
  justify-content: center;
}

Card:hover {
  color: yellow;
}

#CardHome {
  background-color: #79eef2;
  border-radius: 25px;
  box-shadow: 0 0 1em grey;
  min-width: 400px;
  min-height: 450px;
}

#CardHome:hover {
  background-color: #60eff4;
  box-shadow: 0 0 2em black;
}

.new-message-input-field {
  position: fixed;
  top: 90vh;
  width: 50%;
}

.findBook {
  font-family: "Courier New", Courier, monospace;
  color: #303a4d;
  font-size: 5em;
}

.loading {
  font-size: 6em;
  margin-top: 2em;
}

.Logo {
  width: 3em;
  height: auto;
}

.chat-room-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.messages-list {
  height: 40vh;
  list-style-type: none;
  padding: 0;
}
.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: 40vw;
}
.received-message {
  background-color: #3F4042;
  margin-right: 50vw;
}
.message-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-bottom: 8px;
  padding: 12px 20px;
  word-break: break-word;
  border-radius: 20px;
  color: white;
}